html{
    font-size: 62.5%; /*10 ÷ 16 × 100% = 62.5%* 1rem=10px*/
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.banner img{
    width: 100%;
}
.li{
    width: 25%;
    height:5.8125rem;
    list-style: none;
    float: left;
    font-size:4rem;
    font-family: PingFangSC-Medium;
    text-align: center;
    line-height: 5rem;
    cursor: pointer;
    /* transition:10s; */
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.main_item_1{
    width: 100%;
    background: #fff;
    position: relative;
}
.li_1 img{
    width: 12rem;
    height: 12rem;
    position: absolute;
    left: 6rem;
    top: 4rem;
    border-bottom: 5px solid #E1E1E1;
}
.li_2 img{
    width: 12rem;
    height: 12rem;
    position: absolute;
    left: 6rem;
    top: 15rem;
}
.li_3 img{
    width: 11rem;
    height: 11rem;
    position: absolute;
    left:6rem;
    top: 26rem;
}
.li_4 img{
    width: 11rem;
    height: 11rem;
    position: absolute;
    left:6rem;
    top: 37rem;
}

.li_1{
    position: relative;
}
.li_1 .span1{
    left: 22rem;
    top: 4rem;
    position: absolute;
    font-family: PingFangSC-Regular;
    font-size: 3rem;
    color: #333333;
    letter-spacing: -0.32px;
}
.li_1 .span2{
    font-weight: bold;
    left: 38rem;
    top: 4.2rem;
    position: absolute;
    font-family: PingFangSC-Regular;
    font-size: 2.8rem;
    color: #F15A1D;
    letter-spacing: -0.28px;
}
.li_1 .span3{
    font-family: PingFangSC-Regular;
    font-size: 2.6rem;
    color: #616161;
    letter-spacing: -0.26px;
    left: 22rem;
    top: 9rem;
    position: absolute;
}
.li_1 .span4{
    font-family: PingFangSC-Regular;
    font-size: 2.6rem;
    color: #616161;
    letter-spacing: -0.26px;
    top: 14rem;
    position: absolute;
    left: 33rem;
    background-color: rgb(240, 242, 244);
}
.li_1 .span5{
    font-family: PingFangSC-Regular;
    font-size: 2.6rem;
    color: #616161;
    letter-spacing: -0.26px;
    top: 14rem;
    position: absolute;
    left: 22rem;
    background-color: rgb(240, 242, 244);
}
.li_1 a{
    text-align: center;
    top: 8rem;
    position: absolute;
    left: 74rem;
    width: 10rem;
    height: 5rem;
    line-height: 5rem;
    border: 1px solid #6A62FF;
    color: #6A62FF;
    border-radius: 5px;
    font-size: 3rem;
}
.li_2{
    position: relative;
    top: 10rem;
}
.li_2 .span1{
    left: 22rem;
    top: 15rem;
    position: absolute;
    font-family: PingFangSC-Regular;
    font-size: 3rem;
    color: #333333;
    letter-spacing: -0.32px;
}
.li_2 .span2{
    font-weight: bold;
    left: 38rem;
    top: 15.2rem;
    position: absolute;
    font-family: PingFangSC-Regular;
    font-size: 2.8rem;
    color: #F15A1D;
    letter-spacing: -0.28px;
}
.li_2 .span3{
    font-family: PingFangSC-Regular;
    font-size: 2.6rem;
    color: #616161;
    letter-spacing: -0.26px;
    left: 22rem;
    top:20rem;
    position: absolute;
}
.li_2 .span4{
    font-family: PingFangSC-Regular;
    font-size: 2.6rem;
    color: #616161;
    letter-spacing: -0.26px;
    top: 25rem;
    position: absolute;
    left: 33rem;
    background-color: rgb(240, 242, 244);
}
.li_2 .span5{
    font-family: PingFangSC-Regular;
    font-size: 2.6rem;
    color: #616161;
    letter-spacing: -0.26px;
    top: 25rem;
    position: absolute;
    left: 22rem;
    background-color: rgb(240, 242, 244);
}
.li_2 a{
    text-align: center;
    top: 19rem;
    position: absolute;
    left: 74rem;
    width: 10rem;
    height: 5rem;
    line-height: 5rem;
    border: 1px solid #6A62FF;
    color: #6A62FF;
    border-radius: 5px;
    font-size: 3rem;
}
.li_3{
    position: relative;
    top: 20rem;
}
.li_3 .span1{
    left: 22rem;
    top: 26rem;
    position: absolute;
    font-family: PingFangSC-Regular;
    font-size: 3rem;
    color: #333333;
    letter-spacing: -0.32px;
}
.li_3 .span2{
    font-weight: bold;
    left: 38rem;
    top: 26.2rem;
    position: absolute;
    font-family: PingFangSC-Regular;
    font-size: 2.8rem;
    color: #F15A1D;
    letter-spacing: -0.28px;
}
.li_3 .span3{
    font-family: PingFangSC-Regular;
    font-size: 2.6rem;
    color: #616161;
    letter-spacing: -0.26px;
    left: 22rem;
    top:31rem;
    position: absolute;
}
.li_3 .span4{
    font-family: PingFangSC-Regular;
    font-size: 2.6rem;
    color: #616161;
    letter-spacing: -0.26px;
    top: 36rem;
    position: absolute;
    left: 33rem;
    background-color: rgb(240, 242, 244);
}
.li_3 .span5{
    font-family: PingFangSC-Regular;
    font-size: 2.6rem;
    color: #616161;
    letter-spacing: -0.26px;
    top: 36rem;
    position: absolute;
    left: 22rem;
    background-color: rgb(240, 242, 244);
}
.li_3 a{
    text-align: center;
    top: 30rem;
    position: absolute;
    left: 74rem;
    width: 10rem;
    height: 5rem;
    line-height: 5rem;
    border: 1px solid #6A62FF;
    color: #6A62FF;
    border-radius: 5px;
    font-size: 3rem;
}
.li_4{
    position: relative;
    top: 30rem;
}
.li_4 .span1{
    left: 22rem;
    top: 37rem;
    position: absolute;
    font-family: PingFangSC-Regular;
    font-size: 3rem;
    color: #333333;
    letter-spacing: -0.32px;
}
.li_4 .span2{
    font-weight: bold;
    left: 38rem;
    top: 37.2rem;
    position: absolute;
    font-family: PingFangSC-Regular;
    font-size: 2.8rem;
    color: #F15A1D;
    letter-spacing: -0.28px;
}
.li_4 .span3{
    font-family: PingFangSC-Regular;
    font-size: 2.6rem;
    color: #616161;
    letter-spacing: -0.26px;
    left: 22rem;
    top:42rem;
    position: absolute;
}
.li_4 .span4{
    font-family: PingFangSC-Regular;
    font-size: 2.6rem;
    color: #616161;
    letter-spacing: -0.26px;
    top: 47rem;
    position: absolute;
    left: 33rem;
    background-color: rgb(240, 242, 244);
}
.li_4 .span5{
    font-family: PingFangSC-Regular;
    font-size: 2.6rem;
    color: #616161;
    letter-spacing: -0.26px;
    top: 47rem;
    position: absolute;
    left: 22rem;
    background-color: rgb(240, 242, 244);
}
.li_4 a{
    text-align: center;
    top: 41rem;
    position: absolute;
    left: 74rem;
    width: 10rem;
    height: 5rem;
    line-height: 5rem;
    border: 1px solid #6A62FF;
    color: #6A62FF;
    border-radius: 5px;
    font-size: 3rem;
}
.main_item_2,.main_item_3,.main_item_4{
    display: none;
}
.main_item_2{
    width: 100%;
    background: #fff;
    position: relative;
}
.main_item_3{
    width: 100%;
    background: #fff;
    position: relative;
}
.main_item_4{
    width: 100%;
    background: #fff;
    position: relative;
}